:root {
  --black: #000000;
  --grey25: #f8fafc;
  --grey200: #e4e6e8;
  --grey700: #74787c;
  --grey800: #54585c;
  --blue50: #e3f2fd;
  --blue75: #cee7fc;
  --blue100: #bbdefb;
  --blue600: #1e88e5;
  --blue900: #0d47a1;
}
